In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/content/laptops.csv')

In [ ]:
df.drop(columns={'Unnamed: 0'}, inplace=True)

In [ ]:
df.head(2)

,model,price,spec_score,processor,core_threads,ram,ssd,graphics,display,os,extra_info
0,Lenovo V15 ITL G2 82KBA033IH Laptop (11th Gen ...,"₹33,921",62.0,11th Gen Intel Core i3 1115G4,"Dual Core, 4 Threads",8 GB DDR4 RAM,512 GB SSD,Intel Integrated UHD,"15.6 inches, 1920 x 1080 pixels",Windows 11 OS,1 Year Warranty
1,HP Pavilion 15-ec2004AX Gaming Laptop (AMD Ryz...,"₹56,150",66.0,5th Gen AMD Ryzen 5 5600H,"Hexa Core, 12 Threads",8 GB DDR4 RAM,512 GB SSD,4 GB NVIDIA GeForce GTX 1650,"15.6 inches, 1920 x 1080 pixels",Windows 10 OS,1 Year Warranty

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         1020 non-null   object
 1   price         1020 non-null   object
 2   spec_score    1004 non-null   float64
 3   processor     1018 non-null   object
 4   core_threads  1018 non-null   object
 5   ram           1018 non-null   object
 6   ssd           1018 non-null   object
 7   graphics      1018 non-null   object
 8   display       1018 non-null   object
 9   os            1017 non-null   object
 10  extra_info    1015 non-null   object
dtypes: float64(1), object(10)
memory usage: 87.8+ KB

In [ ]:
df.isnull().sum()

model            0
price            0
spec_score      16
processor        2
core_threads     2
ram              2
ssd              2
graphics         2
display          2
os               3
extra_info       5
dtype: int64

In [ ]:
df['extra_info'] = df['extra_info'].fillna('Missing')

In [ ]:
df['model_name'] = df['model'].str.split('(').str.get(0).str.strip()

In [ ]:
df['price'] = df['price'].str.replace('₹','').str.replace(',','').astype('int')

In [ ]:
temp_df = df[df['processor'].isna()]

In [ ]:
temp_df

,model,price,spec_score,processor,core_threads,ram,ssd,graphics,display,os,extra_info,model_name
600,Acer Nitro 5 AN515-46 Gaming Laptop (AMD Ryzen...,129990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Missing,Acer Nitro 5 AN515-46 Gaming Laptop
999,Lenovo V15 82KB0003GE Laptop (11th Gen Core i3...,32499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Missing,Lenovo V15 82KB0003GE Laptop

In [ ]:
temp_df_list = df[df['processor'].isna()]['model'].str.split('(').str.get(1).str.split('/')
temp_df['processor'] = temp_df_list.str.get(0)
temp_df['ram'] = temp_df_list.str.get(1)
temp_df['ssd'] = temp_df_list.str.get(2)
temp_df['os'] = temp_df_list.str.get(3)

<ipython-input-9-b6218080fa39>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['processor'] = temp_df_list.str.get(0)
<ipython-input-9-b6218080fa39>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['ram'] = temp_df_list.str.get(1)
<ipython-input-9-b6218080fa39>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['ssd'] = temp_df_list.str.get(2)
<ipython-input-9-b6218080fa39>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['os'] = temp_df_list.str.get(3)

In [ ]:
df.loc[temp_df.index, ['processor','ram','ssd','os']] = temp_df[['processor','ram','ssd','os']].values

In [ ]:
df.isnull().sum()

model            0
price            0
spec_score      16
processor        0
core_threads     2
ram              0
ssd              0
graphics         2
display          2
os               1
extra_info       0
model_name       0
dtype: int64

In [ ]:
df[df['os'].isna()]

,model,price,spec_score,processor,core_threads,ram,ssd,graphics,display,os,extra_info,model_name
1010,Asus VivoBook 14 2021 X415MA-BV011W Laptop (Ce...,23990,NaN,This Renewed product is tested to work and loo...,Processor: Intel Celeron N4020,Memory: 4GB DDR4 SO-DIMM with,Storage: 256GB M.2 NVMe PCIe 3.0 SSD,Display: 14.0-inch (35.56 cm) HD (1366 x 768) ...,Graphics: Integrated Intel UHD Graphics 600,NaN,Missing,Asus VivoBook 14 2021 X415MA-BV011W Laptop

In [ ]:
df.loc[1010, 'display'] = df.loc[1010,'graphics']
df.loc[1010, 'graphics'] = np.nan

In [ ]:
temp_df = df[df['os'].isna()]
temp_df_list = df[df['os'].isna()]['model'].str.split('(').str.get(1).str.split('/')
temp_df['processor'] = temp_df_list.str.get(0)
temp_df['ram'] = temp_df_list.str.get(1)
temp_df['ssd'] = temp_df_list.str.get(2)
temp_df['os'] = temp_df_list.str.get(3)
df.loc[1010, ['processor','ram','ssd','os']] = temp_df[['processor','ram','ssd','os']].values

In [ ]:
temp_df

,model,price,spec_score,processor,core_threads,ram,ssd,graphics,display,os,extra_info,model_name
1010,Asus VivoBook 14 2021 X415MA-BV011W Laptop (Ce...,23990,NaN,Celeron N4020,Processor: Intel Celeron N4020,4GB,256GB SSD,NaN,Display: 14.0-inch (35.56 cm) HD (1366 x 768) ...,Win11 Home),Missing,Asus VivoBook 14 2021 X415MA-BV011W Laptop

In [ ]:
df.to_csv('edited_mobiles.csv', index=False)

In [ ]:
df['Hard Disk'] = np.nan

In [ ]:
temp_df = df[df['extra_info'].str.contains('OS')]

In [ ]:
temp_df['Hard Disk'] = temp_df['ssd']
shift_df =  temp_df[['ssd','graphics','display','os','extra_info']].shift(-1,axis=1)
temp_df.loc[shift_df.index, ['ssd','graphics','display','os','extra_info']] = shift_df[['ssd','graphics','display','os','extra_info']].values

In [ ]:
df.loc[temp_df.index, ['Hard Disk', 'ssd','graphics','display','os','extra_info']] = temp_df[['Hard Disk', 'ssd','graphics','display','os','extra_info']]

In [ ]:
df.to_csv('edit3.csv', index=False)

In [ ]:
df1 = pd.read_csv("/content/edit3.csv")

In [ ]:
df1.head(2)

,model,price,spec_score,processor,core_threads,ram,ssd,graphics,display,os,extra_info,model_name,Hard Disk
0,Lenovo V15 ITL G2 82KBA033IH Laptop (11th Gen ...,33921,62.0,11th Gen Intel Core i3 1115G4,"Dual Core, 4 Threads",8 GB DDR4 RAM,512 GB SSD,Intel Integrated UHD,"15.6 inches, 1920 x 1080 pixels",Windows 11 OS,1 Year Warranty,Lenovo V15 ITL G2 82KBA033IH Laptop,NaN
1,HP Pavilion 15-ec2004AX Gaming Laptop (AMD Ryz...,56150,66.0,5th Gen AMD Ryzen 5 5600H,"Hexa Core, 12 Threads",8 GB DDR4 RAM,512 GB SSD,4 GB NVIDIA GeForce GTX 1650,"15.6 inches, 1920 x 1080 pixels",Windows 10 OS,1 Year Warranty,HP Pavilion 15-ec2004AX Gaming Laptop,NaN

In [ ]:
df1.loc[1010]

In [ ]:
df1.loc[1010, 'os'] = df1.loc[1010]['os'][2:-3].strip()
df1.loc[1010, 'processor'] = df1.loc[1010]['processor'][2:-2]
df1.loc[1010, 'ram'] = df1.loc[1010]['ram'][2:-2].strip()
df1.loc[1010, 'ssd'] = df1.loc[1010]['ssd'][2:-2].strip()

In [ ]:
df1.to_csv('edit5.csv', index=False)

In [ ]:
df1['core_threads'].value_counts()

Quad Core, 8 Threads               177
Octa Core, 16 Threads              147
Dual Core, 4 Threads               129
Hexa Core, 12 Threads              120
10 Cores (2P + 8E), 12 Threads     103
14 Cores (6P + 8E), 20 Threads      85
12 Cores (4P + 8E), 16 Threads      84
Dual Core, 2 Threads                39
Hexa Core (2P + 4E), 8 Threads      20
Octa Core (4P + 4E), 12 Threads     15
10 Cores, 12 Threads                14
Quad Core, 4 Threads                12
Octa Core                           10
10 Cores (6P + 4E), 16 Threads      10
Quad Core                            9
14 Cores, 20 Threads                 7
Octa Core (4P + 4E)                  6
16 Cores (8P + 8E), 24 Threads       5
Dual Core                            5
12 Cores (8P + 4E)                   3
10 Cores                             2
12 Cores                             2
Octa Core, 12 Threads                2
Quad Core, 2 Threads                 1
Octa Core (6P + 2E)                  1
Hexa Core, 6 Threads                 1
16 Cores, 24 Threads                 1
Octa Core, 20 Threads                1
20 Threads                           1
Processor: Intel Celeron N4020       1
Name: core_threads, dtype: int64

In [ ]:
df1[df1['core_threads'] == 'Memory & Storage: 8 GB DDR4-3200 MHz RAM (1 x 8GB)']

Empty DataFrame
Columns: [model, price, spec_score, processor, core_threads, ram, ssd, graphics, display, os, extra_info, model_name, Hard Disk]
Index: []

In [ ]:
df1.loc[626, 'core_threads'] = np.nan

In [ ]:
df1.loc[626, 'display'] = df1.loc[626, 'ssd']

In [ ]:
temp_df_list = df1[df1['model'] == df1.loc[626]['model']]['model'].str.split('(').str.get(1).str.split('/')
df1.loc[626, 'processor'] = temp_df_list.str.get(0).values
df1.loc[626, 'ram'] = temp_df_list.str.get(1).values
df1.loc[626, 'ssd'] = temp_df_list.str.get(2).values
df1.loc[626, 'os'] = temp_df_list.str.get(3).values
df1.loc[626, 'core_threads'] = np.nan

In [ ]:
df1.loc[626, 'os'] = df1.loc[626, 'os'].strip()[:-2]

In [ ]:
df1.loc[626]

model           HP 430 G8 366B1PA Business Laptop (11th Gen Co...
price                                                      111500
spec_score                                                    NaN
processor                                        11th Gen Core i7
core_threads                                                  NaN
ram                                                           8GB
ssd                                                     512GB SSD
graphics             Graphics & Networking: Intel Iris X Graphics
display                         Display: 33.8 cm (13.3") diagonal
os                                                          Win10
extra_info      In an unlikely case of product quality related...
model_name                      HP 430 G8 366B1PA Business Laptop
Hard Disk                                                     NaN
Name: 626, dtype: object

In [ ]:
df1[df1['core_threads'] == '4 GB LPDDR4x  RAM']

,model,price,spec_score,processor,core_threads,ram,ssd,graphics,display,os,extra_info,model_name,Hard Disk
158,Samsung Galaxy Book Go Laptop (Snapdragon 7c/ ...,32990,NaN,2nd Gen Qualcomm Snapdragon 7c,4 GB LPDDR4x RAM,128 GB Hard Disk,Qualcomm Adreno,"14 inches, 1920 x 1080 pixels",Windows 11 OS,1 Year Warranty,Missing,Samsung Galaxy Book Go Laptop,128 GB Hard Disk

In [ ]:
df1.loc[158, 'Hard Disk'] = df1.loc[158, 'ram']

In [ ]:
df1.loc[158, 'ram'] = df1.loc[158, 'core_threads']

In [ ]:
df1.loc[158, 'core_threads'] = np.nan

In [ ]:
df1.loc[158]

model           Samsung Galaxy Book Go Laptop (Snapdragon 7c/ ...
price                                                       32990
spec_score                                                    NaN
processor                          2nd Gen Qualcomm Snapdragon 7c
core_threads                                                  NaN
ram                                             4 GB LPDDR4x  RAM
ssd                                               Qualcomm Adreno
graphics                            14 inches, 1920 x 1080 pixels
display                                             Windows 11 OS
os                                                1 Year Warranty
extra_info                                                Missing
model_name                          Samsung Galaxy Book Go Laptop
Hard Disk                                        128 GB Hard Disk
Name: 158, dtype: object

In [ ]:
temp_df = df1.copy()

In [ ]:
df1.loc[158]

model           Samsung Galaxy Book Go Laptop (Snapdragon 7c/ ...
price                                                       32990
spec_score                                                    NaN
processor                          2nd Gen Qualcomm Snapdragon 7c
core_threads                                                  NaN
ram                                             4 GB LPDDR4x  RAM
ssd                                                           NaN
graphics                                          Qualcomm Adreno
display                             14 inches, 1920 x 1080 pixels
os                                                  Windows 11 OS
extra_info                                        1 Year Warranty
model_name                          Samsung Galaxy Book Go Laptop
Hard Disk                                        128 GB Hard Disk
Name: 158, dtype: object

In [ ]:
df1.loc[158, ['ssd','graphics','display','os','extra_info']] = df1.loc[158, ['ssd','graphics','display','os','extra_info']].shift(1)
# temp_df.loc[shift_df.index, ['ssd','graphics','display','os','extra_info']] = shift_df[['ssd','graphics','display','os','extra_info']].values

In [ ]:
df1[df1['core_threads'] == '8 GB DDR4 RAM']

,model,price,spec_score,processor,core_threads,ram,ssd,graphics,display,os,extra_info,model_name,Hard Disk
463,HP 240 G8 689T7PA Business Laptop (intel Core ...,34440,50.0,Intel Core i3,8 GB DDR4 RAM,512 GB SSD,Intel Integrated,"14 inches, 1366 x 768 pixels",Windows 11 OS,1 Year Warranty,2 USB 3.0 Ports,HP 240 G8 689T7PA Business Laptop,NaN
624,HP 250 G8 6G9R1PA Notebook (11th Gen Core i3/ ...,35979,NaN,11th Gen Intel Core i3,8 GB DDR4 RAM,512 GB SSD,Intel Integrated Intel® UHD Graphics,"15.6 inches, 1366 x 768 pixels",DOS OS,1 Year Warranty,1 USB 3.0 Ports,HP 250 G8 6G9R1PA Notebook,NaN
898,Lenovo IdeaPad Slim 3 81X800LGIN Laptop (11th ...,36999,NaN,11th Gen Intel Core i3,8 GB DDR4 RAM,512 GB SSD,Intel UHD Graphics,"15.6 inches, 1920 x 1080 pixels",Windows 11 OS,2 Year Warranty,2 USB 3.0 Ports,Lenovo IdeaPad Slim 3 81X800LGIN Laptop,NaN

In [ ]:
df1.loc[[463, 624, 898], ['core_threads','ram','ssd','graphics','display','os','extra_info']] = df1.loc[[463, 624, 898], ['core_threads','ram','ssd','graphics','display','os','extra_info']].shift(1, axis=1)

# editing 5

In [ ]:
df = pd.read_csv('edit5.csv')

In [ ]:
df['ssd'].value_counts()

512 GB SSD                      641
1 TB SSD                        174
256 GB SSD                      139
1 TB Hard Disk                   28
2 TB SSD                         12
128 GB SSD                       11
128 GB Hard Disk                  3
32 GB Hard Disk                   2
 512GB SSD                        1
 256GB SSD                        1
4 TB SSD                          1
8 GB NVIDIA GeForce RTX 3070      1
MediaTek Integrated               1
64 GB Hard Disk                   1
 1TB SSD                          1
Intel Integrated HD 500           1
256GB SSD                         1
Name: ssd, dtype: int64

In [ ]:
df.head(2)

,model,price,spec_score,processor,core_threads,ram,ssd,graphics,display,os,extra_info,model_name,Hard Disk
0,Lenovo V15 ITL G2 82KBA033IH Laptop (11th Gen ...,33921,62.0,11th Gen Intel Core i3 1115G4,"Dual Core, 4 Threads",8 GB DDR4 RAM,512 GB SSD,Intel Integrated UHD,"15.6 inches, 1920 x 1080 pixels",Windows 11 OS,1 Year Warranty,Lenovo V15 ITL G2 82KBA033IH Laptop,NaN
1,HP Pavilion 15-ec2004AX Gaming Laptop (AMD Ryz...,56150,66.0,5th Gen AMD Ryzen 5 5600H,"Hexa Core, 12 Threads",8 GB DDR4 RAM,512 GB SSD,4 GB NVIDIA GeForce GTX 1650,"15.6 inches, 1920 x 1080 pixels",Windows 10 OS,1 Year Warranty,HP Pavilion 15-ec2004AX Gaming Laptop,NaN

In [ ]:
df1 = df.copy()

# create brand column

In [ ]:
df1['brand'] = df1['model'].str.split().str.get(0)

In [ ]:
df1['brand'].value_counts()

In [ ]:
df1['price'].isnull().sum()

0

In [ ]:
df1['spec_score'].isnull().sum()

16

In [ ]:
df1['spec_score'].fillna(0, inplace=True)

In [ ]:
df1['spec_score'] = df1['spec_score'].astype('int64')

In [ ]:
df1.info()

# Handling processor column

In [ ]:
df1['processor'].isnull().sum()

0

In [ ]:
df1['processor_name'] = df1['model'].str.split('(').str.get(1).str.split('/').str.get(0)

In [ ]:
df1['processor_name'].value_counts()

12th Gen Core i5     154
11th Gen Core i5     125
12th Gen Core i7     124
11th Gen Core i3      89
11th Gen Core i7      43
                    ...
Ryzen 9-6900HX         1
AMD Athlon 3050        1
AMD Ryzen 7 5700U      1
12th Gen Core i5       1
Ryzen 7 5825U          1
Name: processor_name, Length: 125, dtype: int64

# Handling core threads

In [ ]:
df1.loc[1010, 'core_threads'] = np.nan

In [ ]:
df1['core_threads'].value_counts()

Quad Core, 8 Threads               177
Octa Core, 16 Threads              147
Dual Core, 4 Threads               129
Hexa Core, 12 Threads              120
10 Cores (2P + 8E), 12 Threads     103
14 Cores (6P + 8E), 20 Threads      85
12 Cores (4P + 8E), 16 Threads      84
Dual Core, 2 Threads                39
Hexa Core (2P + 4E), 8 Threads      20
Octa Core (4P + 4E), 12 Threads     15
10 Cores, 12 Threads                14
Quad Core, 4 Threads                12
10 Cores (6P + 4E), 16 Threads      10
Octa Core                           10
Quad Core                            9
14 Cores, 20 Threads                 7
Octa Core (4P + 4E)                  6
Dual Core                            5
16 Cores (8P + 8E), 24 Threads       5
12 Cores (8P + 4E)                   3
10 Cores                             2
12 Cores                             2
Octa Core, 12 Threads                2
16 Cores, 24 Threads                 1
Octa Core, 20 Threads                1
Quad Core, 2 Threads                 1
Hexa Core, 6 Threads                 1
Octa Core (6P + 2E)                  1
20 Threads                           1
Name: core_threads, dtype: int64

Note: 0 in no_of_cores and no_of_threads column means the value is missing.

In [ ]:
df2 = df1.copy()

In [ ]:
df2['no_of_cores'] = df2['core_threads'].str.split(',').str.get(0)
df2['no_of_threads'] = df2['core_threads'].str.split(',').str.get(1)

In [ ]:
df2['no_of_cores'].fillna('0', inplace=True)

In [ ]:
df2['no_of_threads'].fillna('0',inplace=True)

In [ ]:
df2.loc[df2[df2['no_of_cores'].str.contains('Threads')].index, 'no_of_threads'] = df2[df2['no_of_cores'].str.contains('Threads')]['no_of_cores'].values

In [ ]:
df2.loc[df2[df2['no_of_cores'].str.contains('Threads')].index, 'no_of_cores'] = '0'

In [ ]:
df2['no_of_threads'].str.strip().str.split(' ').index

RangeIndex(start=0, stop=1020, step=1)

In [ ]:
df2['no_of_threads'] = df2['no_of_threads'].str.strip().str.split(' ').str.get(0).astype('int')

In [ ]:
def numerical_core(value):
  if 'Quad' in value:
    return value.replace('Quad', '4')
  elif 'Octa' in value:
    return value.replace('Octa', '8')
  elif 'Dual' in value:
    return value.replace('Dual', '2')
  elif 'Hexa' in value:
    return value.replace('Hexa', '6')
  else:
    return value

In [ ]:
df2['no_of_cores'] = df2['no_of_cores'].apply(lambda x: numerical_core(x)).str.split(' ').str.get(0).astype('int')

In [ ]:
df2['no_of_cores'].value_counts()

4     199
8     182
2     173
6     141
10    129
14     92
12     89
0       9
16      6
Name: no_of_cores, dtype: int64

In [ ]:
df2.drop(columns={'processor', 'core_threads'}, inplace=True)

# Handling Ram

In [ ]:
df2.head(1)

,model,price,spec_score,processor,core_threads,ram,ssd,graphics,display,os,extra_info,model_name,Hard Disk,brand,processor_name,no_of_cores,no_of_threads
0,Lenovo V15 ITL G2 82KBA033IH Laptop (11th Gen ...,33921,62.0,11th Gen Intel Core i3 1115G4,"Dual Core, 4 Threads",8 GB DDR4 RAM,512 GB SSD,Intel Integrated UHD,"15.6 inches, 1920 x 1080 pixels",Windows 11 OS,1 Year Warranty,Lenovo V15 ITL G2 82KBA033IH Laptop,NaN,Lenovo,11th Gen Core i3,2,4

In [ ]:
df2['ram(GB)'] = df2['ram'].str.strip().str.split('\u2009').str.get(0).str.replace('GB','').astype('int')

In [ ]:
df2.drop(columns={'ram'}, inplace=True)

# Handling SSD

In [ ]:
df2['ssd'].value_counts()

In [ ]:
df2['ssd'] = df2['ssd'].str.strip()

In [ ]:
df2['ssd'].values

array(['512\u2009GB SSD', '512\u2009GB SSD', '256\u2009GB SSD', ...,
       '1\u2009TB SSD', '128\u2009GB SSD', '1\u2009TB SSD'], dtype=object)

In [ ]:
df2['ssd'].fillna('0', inplace=True)

In [ ]:
df2.loc[664, ['ssd','graphics','display','os','extra_info']] = df2.loc[664, ['ssd','graphics','display','os','extra_info']].shift(1)
# temp_df['Hard Disk'] = temp_df['ssd']
# shift_df =  temp_df[['ssd','graphics','display','os','extra_info']].shift(-1,axis=1)
# temp_df.loc[shift_df.index, ['ssd','graphics','display','os','extra_info']] = shift_df[['ssd','graphics','display','os','extra_info']].values

In [ ]:
df2.loc[664, 'ssd'] = '512'

Note: 0 Hard Disk means -> no hard disk is present <br>
Note: 0 ssd means -> ssd is not present

In [ ]:
df2.drop([101, 170], inplace=True)

#### handling ssd (replacing harddisk and converting TB to GB)

In [ ]:
df2['ssd'].value_counts()

512 GB SSD    641
1 TB SSD      174
256 GB SSD    139
0              35
2 TB SSD       12
128 GB SSD     11
256GB SSD       2
1TB SSD         1
512GB SSD       1
512             1
4 TB SSD        1
Name: ssd, dtype: int64

In [ ]:
df2[df2[df2['ssd'].str.contains('Hard')].index, 'Hard Disk'] = df2[df2['ssd'].str.contains('Hard')]['ssd'].values

In [ ]:
df2.loc[df2[df2['ssd'].str.contains('Hard')].index, 'ssd'] = '0'

In [ ]:
a = "hsdhs  sdhjs"
a.split(" ")[0]

'hsdhs'

In [ ]:
def ssd_handle(value):
  if '\u2009GB' in value:
    value = value.replace('\u2009GB', ' ')
    value = int(value.split(" ")[0])
    return value
  elif 'GB' in value:
    value = value.replace("GB", " ")
    value = int(value.split(" ")[0])
    return value
  elif '\u2009TB' in value:
    value = value.replace('\u2009TB', ' ')
    value = int(value.split(" ")[0])
    return value*1000
  elif 'TB' in value:
    value = value.replace("TB", " ")
    value = int(value.split(" ")[0])
    return value*1000
  else:
    return int(value)

In [ ]:
df2['ssd(GB)'] = df2['ssd'].apply(lambda x: ssd_handle(x))

In [ ]:
df2.drop(columns={'ssd'}, inplace=True)

# Handle HDD

In [ ]:
df2['Hard Disk'].fillna('0', inplace=True)

In [ ]:
def handle_harddisk(value):
  if '\u2009GB' in value:
    value = value.replace("\u2009GB", " ")
    value = int(value.split(" ")[0])
    return value
  elif '\u2009TB' in value:
    value = value.replace("\u2009TB", " ")
    value = int(value.split(" ")[0])
    return value*1000
  else:
    return 0

In [ ]:
df2['Hard Disk(GB)'] = df2['Hard Disk'].apply(lambda x: handle_harddisk(x))

In [ ]:
df2.drop(columns={'Hard Disk'}, inplace=True)

In [ ]:
df2.head(1)

,model,price,spec_score,graphics,display,os,extra_info,model_name,brand,processor_name,no_of_cores,no_of_threads,ram(GB),ssd(GB),Hard Disk(GB)
0,Lenovo V15 ITL G2 82KBA033IH Laptop (11th Gen ...,33921,62,Intel Integrated UHD,"15.6 inches, 1920 x 1080 pixels",Windows 11 OS,1 Year Warranty,Lenovo V15 ITL G2 82KBA033IH Laptop,Lenovo,11th Gen Core i3,2,4,8,512,0

# Handle OS

In [ ]:
df2['os'].value_counts()

Windows 11 OS       802
Windows 10 OS        71
Windows 11  OS       59
DOS OS               27
Mac OS               21
Windows 10  OS       16
Windows OS            7
Ubuntu OS             5
Chrome OS             4
Windows 10 10 OS      1
 Win11 Home           1
Win10                 1
Windows 1 OS          1
 Win11 Home)          1
Win11 Home            1
Name: os, dtype: int64

In [ ]:
shift_df =  df2[df2['os'] == '1 Year Warranty'][['graphics','display','os','extra_info']].shift(1,axis=1)
df2.loc[shift_df.index, ['graphics','display','os','extra_info']] = shift_df[['graphics','display','os','extra_info']].values

In [ ]:
def handle_os(value):
  if 'Win' in value:
    return 'Windows'
  elif 'DOS' in value:
    return 'DOS'
  elif 'Mac' in value:
    return 'Mac'
  elif 'Ubuntu' in value:
    return 'Ubuntu'
  elif 'Chrome' in value:
    return 'Chrome'
  else:
    return ' '

In [ ]:
df2['Operating System'] = df2['os'].apply(lambda x: handle_os(x))

In [ ]:
df2['Operating System'].value_counts()

Windows    961
DOS         27
Mac         21
Ubuntu       5
Chrome       4
Name: Operating System, dtype: int64

In [ ]:
df2.to_csv('edit7.csv', index=False)

# Handle Display

In [ ]:
df2['display'].isnull().sum()

2

In [ ]:
df2['display'].fillna('Missing', inplace=True)

In [ ]:
def handle_screensize(value):
  try:
    value = float(value.split(",")[0].split("\u2009")[0].strip())
    return value
  except:
    return np.nan

In [ ]:
def resolution(value):
  try:
    value = value.split(",")[1].replace("pixels", "").strip().replace("\u2009"," ")
    return value
  except:
    return np.nan

In [ ]:
df2['screen_size(inches)'] = df2['display'].apply(lambda x: handle_screensize(x))

In [ ]:
df2.loc[[626, 1010], 'screen_size(inches)'] = [13.3, 14.0]

In [ ]:
df2['resolution (pixels)'] = df2['display'].apply(lambda x: resolution(x))

In [ ]:
df2.loc[1010, 'resolution (pixels)'] = '1366 x 768'

# Handle Graphics

In [ ]:
df2['graphics'].fillna("Missing", inplace=True)

In [ ]:
df2['graphics'] = df2['graphics'].str.strip()

In [ ]:
df2.drop(columns = {'model', 'display', 'os','extra_info'}, inplace=True)

In [ ]:
new_order = ['model_name','brand','processor_name','ram(GB)','ssd(GB)','Hard Disk(GB)','Operating System','graphics',
             'screen_size(inches)','resolution (pixels)','no_of_cores','no_of_threads','spec_score','price']

In [ ]:
final_df = df2.reindex(columns=new_order)

In [ ]:
final_df.head()

,model_name,brand,processor_name,ram(GB),ssd(GB),Hard Disk(GB),Operating System,graphics,screen_size(inches),resolution (pixels),no_of_cores,no_of_threads,spec_score,price
0,Lenovo V15 ITL G2 82KBA033IH Laptop,Lenovo,11th Gen Core i3,8,512,0,Windows,Intel Integrated UHD,15.6,1920 x 1080,2,4,62,33921
1,HP Pavilion 15-ec2004AX Gaming Laptop,HP,AMD Ryzen 5 5600H,8,512,0,Windows,4 GB NVIDIA GeForce GTX 1650,15.6,1920 x 1080,6,12,66,56150
2,Lenovo V15 82KBA03HIH Laptop,Lenovo,11th Gen Core i3,8,256,1000,Windows,Intel Integrated UHD,15.6,1920 x 1080,2,4,66,35499
3,Asus Vivobook 16X 2022 M1603QA-MB502WS Laptop,Asus,Ryzen 5-5600H,8,512,0,Windows,AMD Radeon Vega 7,16.0,1200 x 1920,6,12,66,48990
4,HP 15s-fr4000TU Laptop,HP,11th Gen Core i5,8,512,0,Windows,Intel Integrated Iris Xe,15.6,1920 x 1080,4,8,63,52990

In [ ]:
final_df.to_csv("Final_df.csv",index=False)

In [ ]:
df = pd.read_csv('/content/laptop.csv')

In [ ]:
df.shape

(1018, 14)

In [ ]:
df.nunique()

model_name             924
brand                   22
processor_name         123
ram(GB)                  6
ssd(GB)                  7
Hard Disk(GB)            5
Operating System         5
graphics               156
screen_size(inches)     21
resolution (pixels)     30
no_of_cores              9
no_of_threads            9
spec_score              49
price                  623
dtype: int64

In [ ]:
df.drop_duplicates(inplace = True)

In [ ]:
df.to_csv("cleaned_laptop.csv")

In [ ]:
df.columns

Index(['model_name', 'brand', 'processor_name', 'ram(GB)', 'ssd(GB)',
       'Hard Disk(GB)', 'Operating System', 'graphics', 'screen_size(inches)',
       'resolution (pixels)', 'no_of_cores', 'no_of_threads', 'spec_score',
       'price'],
      dtype='object')

In [ ]:
df['ram(GB)'].value_counts()

8     455
16    452
4      60
32     44
64      2
12      1
Name: ram(GB), dtype: int64